@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Source Control Final Assignment</h1>
    <p class="lead">
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </p>
</div>
<div class="container">
    <div class="row col-md-4">
        <ul class="list-group">
            @Html.ActionLink("Index", "Index", "Products", null, htmlAttributes: new { @class = "list-group-item" })
            @Html.ActionLink("Create", "Create", "Products", null, htmlAttributes: new { @class = "list-group-item" })
            @Html.ActionLink("Edit", "Edit", "Products", null, htmlAttributes: new { @class = "list-group-item" })
        </ul>
    </div>
</div>
